table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}

.food{
    height: 210px;
}

.recette{
    margin: 0px 10px;
    border:1px solid;
}

th,td{
    padding: 2px 10px;
}

table{
    margin: 5px 0px;
}