@charset "UTF-8";
:root{
	--widthRecette: 250px;
}

body{
	font-family: sans-serif;
}

nav{
	display: flex;
}
datalist{
	display: flex;
	justify-content: space-between;
}

.categorie{
	display: block;
}

.options{
	margin-left:10px;
}

.options h5{
	text-align: center;
}


.ignoreSection{
	display: none;
}
.currentSection{
	display:block;
}

.logo img{
	height: 12px;
	width: auto;
}

dl{
	margin: 0;
}


.description a{
	float: right;
}

.recette{
	width: var(--widthRecette);
	border:1px solid;
	box-sizing: border-box;
}

.food{
	width: calc(var(--widthRecette) - 3px);
}