@charset "UTF-8";

body{
	font-family: sans-serif;
}

nav{
	display: flex;
}
datalist{
	display: flex;
	justify-content: space-between;
}

.categorie{
	display: block;
}

.options{
	margin-left:10px;
}

.options h5{
	text-align: center;
}

.food{
	width: 150px;
	height: auto;
}

.ignoreSection{
	display: none;
}
.currentSection{
	display:block;
}

.logo img{
	height: 12px;
	width: auto;
}

dl{
	margin: 0;
}

.resultat{
	width: 250px;
	border:1px solid;
}

.description a{
	float: right;
}